rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Keys Collection
    match /keys/{keyId} {
      allow read: if true;
      allow write: if true;
    }

    // Access Logs Collection
    match /logs/{logId} {
      allow read: if true;
      allow create: if true;
      allow update, delete: if true;
    }

    // Settings Collection
    match /settings/{settingId} {
      allow read: if true;
      allow write: if true;
    }
  }
}
